<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--text 不会解析标签 传什么就展示什么-->
<!--<p th:text="${name}">name</p>-->
<!--utext 会解析标签 -->
<!--<p th:utext="${name}">name</p>-->

<!--<p th:utext="${user.name}">name</p>-->
<!--<p th:utext="${user.seg}">seg</p>-->

<div th:object="${user}">
    <p >name:<span th:text="*{name}">name</span>.</p>
    <p >seg:<span th:text="*{seg}">seg</span>.</p>
</div>

<a href="/welcome" th:href="@{/welcome}">welcome</a>

<p th:text="#{something}">messing</p>

<div th:insert="footer :: copy"></div>
<div th:replace="footer :: copy"></div>
<div th:include="footer :: copy"></div>
</body>
</html>